body{
font-family: Georgia, 'Times New Roman', Times, serif;}
#header-nav{
  background-color: antiquewhite;
  border-radius: 0;
  /*border: 0;*/

}

.navbar-brand {
  /*margin-top: -18px;*/
  float: left;
  /*margin-left: -110px;*/
}
.navbar-brand h1{
  margin-top: -17px;
  padding-bottom: 20px;
}

.navbar{
padding-top: 13px;
border: 2px solid;
margin-bottom: 12px;

}

h1{
  text-align: center;
  text-emphasis: .2em;
}
h2{
  text-align: center;
}

.navbar-brand{
  margin-left: -20px;
  margin-right: auto;

}
.navbar-header{
  margin-left: -124px;
  
}
#navbar-brand{
  float: left;
}

.container{
background-color: antiquewhite;
 width: auto;
 margin-left: 20px;
 margin-right: 20px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .navbar-brand{
    float: right;
  }
  #nav-list{
    visibility: hidden;
    display: none;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #nav-list{
    visibility: hidden;
    display: none;
  }

  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .collapse{
    float: right;

  }
  #nav-list{
    visibility: hidden;
    display: none;
  }
  #collapse{
    margin-left: 33px;
  }
  .navbar-brand{
    padding-top: 10px;
    /*height: 80px;*/
  }
  .navbar-nav{
    float: right;
  }
  
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  #nav-list{
    float: right;

  }
  .navbar-nav {
  margin-left: auto;
  float: right;
  }

  .collapse{
    margin-right: 2px;
    
  
  }
  #nav-list{
    float: right;
    margin-right: 20px;
    color: #000;
  }

}

#collapse #navbar-collapse{
  float: right;
  display: none;


}
#nav-list a:hover{
  background-color: cornsilk;
}

.navbar-collapse{
  margin-right: -139px;
}
.hr{
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid black;
  visibility: hidden-xs;  
}

