body{
font-family: Georgia, 'Times New Roman', Times, serif;}
#header-nav{
  background-color: antiquewhite;
  border-radius: 0;
  /*border: 0;*/

}

.navbar-brand {
  /*margin-top: -18px;*/
  float: left;
  /*margin-left: -110px;*/
}
.navbar-brand h1{
  margin-top: -17px;
  padding-bottom: 20px;
}

.navbar{
padding-top: 13px;
border: 2px solid;
margin-bottom: 12px;

}
.navbar-header{
  float: left;
}
h1{
  text-align: center;
  text-emphasis: .2em;
}
h2{
  text-align: center;
}

.navbar-brand{
  margin-left: -20px;
  margin-right: auto;

}
.navbar-header{
  float: left;
  margin-left: -124px;
  
}
#navbar-brand{
  float: left;
}

.container{
background-color: antiquewhite;
 width: auto;
 margin-left: 20px;
 margin-right: 20px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .navbar-brand{
    float: left;
  }
  #nav-list{
    visibility: hidden;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  #nav-list{
    visibility: hidden;
  }

  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .collapse{
    float: right;
  }
  #nav-list{
    visibility: hidden;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  #nav-list{
    float: right;
  }

  .collapse{
    float: right;
    
  
  }
  #nav-list{
    float: left;
    margin-right: 20px;
  }
}

#navbar{
  float: right;


}
#nav-list a:hover{
  background-color: cornsilk;
}


